accelerate==0.18.0
av==10.0
bitsandbytes==0.38.1
docker>=6.0.1
facenet-pytorch==2.5.2
gdown==4.6.0
intervaltree>=3.1.0
moviepy>=1.0.3
numpy>=1.21,<1.24
openai-whisper
polars==0.19.8
protobuf==3.20
pyannote.audio==3.1.1
pyannote.core>=5.0
pydantic==2.4.2
pyyaml>=6.0
scikit-learn==1.3.1
scipy>=1.7.3
sentencepiece
spectralcluster==0.2.16
srt>=3.5.2
torch>=2.0
tqdm>=4.64.0
transformers==4.25.1
