facenet_pytorch==2.5.2
feat==1.0.5
huggingsound==0.1.4
moviepy==1.0.3
numpy==1.22.4
opencv_python_headless==4.5.5.64
parselmouth==1.1.1
Pillow==9.2.0
py_feat==0.4.0
git+https://github.com/pyannote/pyannote-audio@develop#egg=pyannote-audio
spectralcluster==0.2.5
