Package                   Version
------------------------- ------------
absl-py                   1.1.0
aiohttp                   3.8.1
aiosignal                 1.2.0
alembic                   1.8.0
antlr4-python3-runtime    4.9.3
appdirs                   1.4.4
asteroid-filterbanks      0.4.0
async-timeout             4.0.2
attrs                     21.4.0

audeer                    1.18.0
audformat                 0.14.3
audinterface              0.8.1
audiofile                 1.1.0
audioread                 2.1.9
audobject                 0.7.1
audresample               1.1.0
autopage                  0.5.1
backports.cached-property 1.0.1
cachetools                5.2.0
certifi                   2022.5.18.1
cffi                      1.15.0
charset-normalizer        2.0.12
click                     8.1.3
cliff                     3.10.1
cmaes                     0.8.2
cmd2                      2.4.1
colorama                  0.4.4
colorlog                  6.6.0
cycler                    0.11.0
decorator                 5.1.1
docker                    5.0.3
docopt                    0.6.2
einops                    0.3.2
facenet-pytorch           2.5.2
filelock                  3.7.1
fonttools                 4.33.3
frozenlist                1.3.0
fsspec                    2022.5.0
google-auth               2.6.6
google-auth-oauthlib      0.4.6
greenlet                  1.1.2
grpcio                    1.46.3
huggingface-hub           0.7.0
idna                      3.3
importlib-metadata        4.11.4
iso-639                   0.4.5
iso3166                   2.0.2
joblib                    1.1.0
julius                    0.2.6
kiwisolver                1.4.2
librosa                   0.9.1
llvmlite                  0.38.1
Mako                      1.2.0
Markdown                  3.3.7
MarkupSafe                2.1.1
matplotlib                3.5.2
mpmath                    1.2.1
multidict                 6.0.2
networkx                  2.8.3
numba                     0.55.2
numpy                     1.22.4
oauthlib                  3.2.0
omegaconf                 2.2.2
opencv-python-headless    4.5.5.64
opensmile                 2.4.1
optuna                    2.10.0
oyaml                     1.0
packaging                 21.3
pandas                    1.4.2
pbr                       5.9.0
Pillow                    9.1.1
pip                       22.1.2
pooch                     1.6.0
prettytable               3.3.0
primePy                   1.3
protobuf                  3.20.1
pyannote.audio            0.0.1
pyannote.core             4.4
pyannote.database         4.1.3
pyannote.metrics          3.2
pyannote.pipeline         2.2
pyasn1                    0.4.8
pyasn1-modules            0.2.8
pycparser                 2.21
pyDeprecate               0.3.2
pyparsing                 3.0.9
pyperclip                 1.8.2
pyreadline3               3.4.1
python-dateutil           2.8.2
pytorch-lightning         1.6.4
pytorch-metric-learning   1.3.2
pytz                      2022.1
pywin32                   227
PyYAML                    6.0
regex                     2022.6.2
requests                  2.27.1
requests-oauthlib         1.3.1
resampy                   0.2.2
rsa                       4.8
scikit-learn              1.1.1
scipy                     1.8.1
semver                    2.13.0
setuptools                62.1.0
shellingham               1.4.0
simplejson                3.17.6
singledispatchmethod      1.0
six                       1.16.0
sortedcontainers          2.4.0
SoundFile                 0.10.3.post1
sox                       1.4.1
spectralcluster           0.2.5
SQLAlchemy                1.4.37
stevedore                 3.5.0
sympy                     1.10.1
tabulate                  0.8.9
tensorboard               2.9.0
tensorboard-data-server   0.6.1
tensorboard-plugin-wit    1.8.1
threadpoolctl             3.1.0
tokenizers                0.12.1
torch                     1.11.0
torch-audiomentations     0.10.1
torch-pitch-shift         1.2.2
torchaudio                0.11.0
torchmetrics              0.9.0
torchvision               0.12.0
tqdm                      4.64.0
transformers              4.19.2
typer                     0.4.1
typing_extensions         4.2.0
urllib3                   1.26.9
wcwidth                   0.2.5
websocket-client          1.3.2
Werkzeug                  2.1.2
wheel                     0.37.1
yarl                      1.7.2
zipp                      3.8.0
