name: Python package

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build for (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      HDF5_DISABLE_VERSION_CHECK: 1
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.7', '3.8', '3.9']
    steps:
      - uses: actions/checkout@v3
      - name: Download libsndfile and ffmpeg
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install libsndfile1
          sudo apt-get install ffmpeg
      - name: Download ffmpeg
        if: matrix.os == 'macos-latest'
        run: brew install ffmpeg
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Python info
        shell: bash -l {0}
        run: |
          which python3
          python3 --version
      - name: Upgrade pip and install dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install .[dev,publishing]
      - name: Run unit tests
        env:
          HF_TOKEN: ${{secrets.HF_TOKEN }} # Needed for Hugging Face authentication to download pyannote.audio models
        run: pytest -vv -E runner
      - name: Verify that we can build the package
        run: python3 setup.py sdist bdist_wheel

  # lint:
  #   name: Linting build
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Download libsndfile
  #       run: |
  #         sudo apt-get install libsndfile1
  #     - name: Set up Python 3.9
  #       uses: actions/setup-python@v3
  #       with:
  #         python-version: 3.9
  #     - name: Python info
  #       shell: bash -l {0}
  #       run: |
  #         which python3
  #         python3 --version
  #     - name: Upgrade pip and install dependencies
  #       run: |
  #         python3 -m pip install --upgrade pip setuptools wheel
  #         python3 -m pip install .[dev]
  #     - name: Check style against standards using prospector
  #       run: prospector
  #     - name: Check import order
  #       run: isort --check-only mexca --diff
