name: documentation

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-documentation:
    name: Build documentation
    runs-on: ubuntu-latest
    env:
      HDF5_DISABLE_VERSION_CHECK: 1
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Download libsndfile
        run: |
          sudo apt-get install libsndfile1
          sudo apt-get install ffmpeg
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Python info
        shell: bash -l {0}
        run: |
          which python3
          python3 --version
      - name: Upgrade pip and install dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install .[dev,publishing]
      - name: Install pandoc using apt
        run: sudo apt install pandoc
      - name: Build documentation
        run: make coverage html # Disabled doctest because examples are too complex
        working-directory: docs
